body {
  background-color: rgba(76, 119, 231, 0.67);
  font-family: 'Orbitron', sans-serif;
}
/* {border: 1px solid black;}
/*conception du header*/
header img {
width: 180px;
height: 200px;
display: inline-block;
margin: 10px;}
header h1 {
margin-left: 300px;
margin-bottom: 100px;
font-size: 60px;
margin-top: -30px;
padding-left: 100px;
color: white;
text-shadow: 3px 3px 2px black;
}
#search {
vertical-align: top;
float: right;
background-size: cover;}
#moncompte {vertical-align: top;
float: right;
margin-left: 10px;
}
#monpanier {
vertical-align: top;
float: right;
margin-left: 10px;
margin-right: 10px;
}
.container {
display: inline-block;
vertical-align: top;
width: 100%;
margin-top: 10px;
}
#navigation {
list-style: none;
background-color: rgb(247, 208, 0);
margin-top: -60px;
text-align: center;
padding: 3px;
}

#navigation li {
display: inline;
font-size: 20px;
}
#navigation li a {
text-decoration:none;
color: rgba(76, 119, 231, 0.67);
font-weight: bold;
padding: 4px 20px;
}
#navigation li a:hover {color: rgb(7, 75, 166);}
/*conception des sections de présentation de l'entreprise*/
main {
background-color: white;
float: right;
width: 78%;
height: 100%;
text-align: center;
border-radius: 15px;
padding-bottom: 30px;}
main img {
width: 120px;
height: 120px;}
main h2 {
color: red;
font-size: 25px;
text-shadow: 3px 3px 2px grey;
margin-top: 30px;}
main h3 {
color: rgb(7, 75, 166);
font-size: 20px;}
#chauffeeau {margin-bottom: 20px;}
#fuiteeau {margin-bottom: 20px; }
/*conception de l'aside*/
aside {
float: left;
width: 20%;
height: 100%;
background-color:rgb(247, 208, 0);
border-radius: 15px;
padding-bottom: 50px;
}
aside h3 {
text-align: center;
text-shadow: 2px 2px 1px grey;
font-size: 25px;
color: white;
}
.aside {
list-style: none;
color:rgba(76, 119, 231, 0.67) ;
font-weight: bold;
font-size: 20px;
text-align: center;
margin-left: -35px;
margin-bottom: 20px;
}
.aside li a {
text-decoration: none;
font-weight: bold;
font-size: 20px;
color: rgba(76, 119, 231, 0.67);
margin-left: -10px;
}
#site {font-size: 13px;}
.container {margin-bottom: 10px;}
.aside li a:hover {color: rgb(7, 75, 166);}
/*conception du footer partie haute*/
#top {
display: inline-block;
margin: 50px;
width: 100%;
}
#top img {
width: 80px;
height: auto;
margin-right: 130px;
margin-left: 90px;
}
/*conception footer partie basse*/
#bottom {
display: inline-block;
margin-top: -30px;
width: 100%;
font-size: 13px;
color: rgb(7, 75, 166);
}
.footer li a {text-decoration: none;
color: rgb(7, 75, 166);
}
.footer {list-style: none;
margin-left: 20px;}
.bottom {width: 25%;
display: inline-block;
margin-left: 77px;
}
h4 {
font-size: 22px;
padding-left: 60px;}
/*tableaux page des tarifs*/
table {
border: 2px solid white;
margin-left:50px;
margin-bottom: 70px;}
th {border: 1px solid white;
padding: 4px;}
td {border: 1px solid white;
text-align: center;
padding: 4px;}
caption {font-size: 30px;
color: white;
margin-top: 30px;
margin-bottom: 50px;}
#tableaux {width: 60%;
margin-left: 200px;
display: inline-block;
}
/*formulaire de contact*/
#nom {display: block;}
#prenom {display: block;}
#entreprise
#email {display: block;}
#telephone {display: block;}
#message{display: block;}
label {
font-size: 20px;
margin-top: 10%;
display: block;}
form {
background-color: white;
width: 25%;
padding-left: 70px;
padding-bottom: 10px;
padding-top: 10px;
margin-left: 350px;;
margin-top: auto;
margin-bottom: 20px;
box-shadow: 4px 4px 2px grey;
display: inline-block;

}
#envoyer {
margin-top: 30px;
margin-left: 70px;
}
#titre {
font-size: 30px;
margin-bottom: 40px;
}
